@font-face{
    font-family: 'Dynalight-Regular';
    src: url('../font/Dynalight-Regular.ttf');
}
body, #container{
    width: 100%;
    margin: 0px;
}
a{
    padding: 15px 10px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: green;
}
ul{
    list-style-type: none;
}
th{
    font-size: 12px;
}
th, td{
    padding: 10px;
}
#sidepart1 div{
    background-color: white;
    z-index: 10;
    top: 240px;
    left: 90%;
    position: fixed;
    width: 130px;
    height: 455px;
    border: 1px solid black;
}
#sidepart1 img{
    width: 100%;
}
#sidepart1 a{
    padding: 0px;
}
#headerpart{
    width: 100%;
    border-bottom: 3px solid black;
}
#header{
    position: relative;
    font-family: 'Dynalight-Regular';
    margin: 0px auto;
    width: 1260px;
}
#loginlist{
    width: 240px;
    left: 1010px;
    position: absolute;
    top: 0;
}
#loginlist ul li{
    font-size: 11px;
    margin-left: 10px;
    display: inline-block;
}
#loginlist ul li a{
    padding: 0px;
}
#logo{
    display: inline-block;
    letter-spacing: 0.15em;
    font-size: 35px;
    text-align: center;
    width: 260px;
}
#menulist{
    margin-left: 130px;
    display: inline-block;
    width: 850px;
}
#menulist ul li{
    margin: 0px 40px;
    font-size: 20px;
    float: left;
}
#midpart{
    width: 100%;
}
#midcontent{
    margin: 0px auto;
    width: 1260px;
}
#sidemenu{
    font-size: 13px;
    float: left;
    margin-top: 0px;
    width: 230px;
    height: 800px;
}
#actpart{
    background-color: #f8ecc7;
}
#sidemenu ul li{
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 15px 0px;
}
#applyfont{
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(97, 44, 14);
    color: white;
}
#mainmenu{
    margin-left: 30px;
    float: left;
}
#midheader{
    width: 100%;
    border-bottom: 1px solid black;
}
#midheader h3{
    margin-left: 10px;
}
#midcenter{
    margin-top: 40px;
    float: left;
}
#leftcontent{
    width: 800px;
    float: left;
}
#leftcontent p{
    font-weight: bold;
    line-height: 2.0em;
    font-size: 10px;
}
#footercontent{
    padding: 40px 0px;
    font-size: 16px;
    line-height: 2.0em;
    font-weight: bold;
    clear: both;
}
.texttype2{
    color: rgb(226, 19, 19);
}
#footerpart{
    text-align: center;
    margin-top: 70px;
    clear: both;
    border-top: 3px solid black;
    font-size: 12px;
    color: rgb(83, 79, 79);
}